@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply w-1;
  }
  ::-webkit-scrollbar-track {
    @apply bg-slate-300 ;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-red-700;
  }
}
body{
  background-color: black;
  background-image: url('../public/assets/Vector.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  padding: 10px;
}
.number {
  min-width: 1%;
  min-height: 12px;
  text-align: center;
  font-size: 50%;
  display: inline-block;
  padding: 2px;
  margin: 1px;
  background-color: rgba(0, 128, 0, 0.3);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  overflow: hidden;
}

.excluded {
  backdrop-filter: blur(2px);
  background-color: rgba(255, 0, 0, 0.5);
}
.center {
  
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transform: scale(1.3);
  z-index: 2;
}
input::placeholder {
  color: red;
  font-size: 12px;
}
input[type=number] {
  border-radius: 8px;
  border: 1px solid red;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
padding: 2px; 
margin: 2px;
  /* Styles for the spin buttons (only in WebKit browsers) */
}

input[type=number]:focus {
  /* Styles for when the input is in focus */
  border: none;
  box-shadow: inset 0 0 2px red;
}